:host{
  width: 100%;
  height: 100%;
}
.averages{
  text-align: center;
}
.tableContainer{
  height: 65%;
  overflow-y: scroll;
  position: relative;
  /*-ms-overflow-style: none; Hides Scrollbar on other browsers like IE or Edge */
}
/* Hides Scrollbar on Chrome
.tableContainer::-webkit-scrollbar{
  display:none;
}
*/
table {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}
th{
  font-size: 40pt;
}
td{
  font-size: 32pt;
}